<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Now Checkout</title>
</head>
<body>
    <h1>Buy Now Checkout</h1>

    
    <p> <img src="{{ product.img.url }}" alt="image" style="width: 450px;height:500px;"></p>
    <p><strong>Name:</strong> {{ product.name }}</p>
    <p><strong>Price:</strong> ₹{{ details.offer_price }}</p>
    <p><strong>Stock:</strong> {{ details.stock }}</p>
    {% if weight %}
        <p><strong>Weight:</strong> {{ weight }}</p>
    {% endif %}

    <h2>Shipping Information</h2>
    <button><a href="../add_address">Add Address</a></button>
    <div class="col-lg-5">
        {% for i in data %}
        <div class="card">
          <div class="card-body">
              <h4 class="card-title"> NAME : {{i.name}}</h4>
              <h5 class="card-text"> HOUSE/BIULDING : {{i.house}}</h5>
              <h5 class="card-text">STREET : {{i.street}}</h5>
              <h5 class="card-text">PIN : {{i.pin}}</h5>
              <h5 class="card-text">STATE : {{i.state}}</h5>
              <h5 class="card-text">PHONE : {{i.phn}}</h5>
              <a href="delete_address/{{i.pk}}" class="btn btn-danger">Delete</a>
          </div>
        </div>
        {% endfor %}
      </div>
    <form method="POST">
        {% csrf_token %}
        <label>Payment Method:</label><br>
        <input type="radio" id="cod" name="payment_method" value="COD" required>
        <label for="cod">Cash on Delivery</label><br>
        <input type="radio" id="online" name="payment_method" value="Online" required>
        <label for="online">Online Payment</label><br><br>

        <button type="submit">Place Order</button>
    </form>

    <br>
    <a href="../../view_details/{{product.id}}">Back to Product Details</a>
</body>
</html>
