<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    {% block content %}
    <h3 class="text-center mb-4" style="color: #b3374c;">Pay securely with Razorpay</h3>
    <h3>{{price}}</h3>
    <form method="POST">
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script>
        var options = {
            key: "{{razorpay_key}}",
            amount: "{{order.amount}}",
            currency: "INR",
            name: "{{order.name}}",
            description: "Test Transaction",
            image: "https://example.com/your_logo",
            order_id: "{{order.provider_order_id}}",
            callback_url: "{{callback_url}}",
            redirect: true,
            prefill: {
                "name":"dhanushya",
                "email":"dhanushya@gmail.com",
                "contact":"123456789"
            },
            notes: {
                "address": "Razorpay Corporate Office"
            },
            theme: {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
        </script>
        <input type="hidden" custom="Hidden Element" name="hidden">
    </form>
    {% endblock %}
</body>

</html>