<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product Details | Cosmo Chic</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'details_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main">
        <h1>Add Product Details</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="product">Product Name:</label><br>
            <select name="pid" class="drop" id="" required>
                {% for i in data %}
                    <option value="{{i.pid}}">{{i.name}}</option>
                {% endfor %}
            </select><br><br>

            <input type="number" name="price" id="" class="input1" placeholder="Price" required><br><br>
            <input type="number" name="offer_price" id="" class="input1" placeholder="Offer Price" required><br><br>
            <input type="number" name="stock" id="" class="input1" placeholder="Quantity" required><br><br>
            <input type="text" name="weight" id="" class="input1" placeholder="Weight" required><br><br>

            <input type="submit" value="Add Product" class="input2"><br><br>
        </form>
    </div>
</body>

</html>
