
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #f8a5b834, #fcbbcb2f);
    min-height: 100vh;
    overflow-x: hidden;
}

.navbar {
    background-color: #b95666f8; 
    height:8vh;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
}

.navbar-brand {

    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 1200;
    font-style: normal;
    font-size: 2rem !important;

}

.navbar-nav .nav-link {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #f8a5b8;
    text-decoration: underline;
}